USE [master]
GO
/****** Object:  Database [TeachingSchedule]    Script Date: 2018-05-20 15:19:39 ******/
CREATE DATABASE [TeachingSchedule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeachingSchedule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TeachingSchedule.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TeachingSchedule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TeachingSchedule_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeachingSchedule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeachingSchedule]
GO
/****** Object:  Table [dbo].[BoMon]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoMon](
	[MaBoMon] [int] IDENTITY(1,1) NOT NULL,
	[TenBoMon] [nvarchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_BoMon] PRIMARY KEY CLUSTERED 
(
	[MaBoMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
	[HeSo] [int] NULL,
 CONSTRAINT [PK_MaCV] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DMG]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DMG](
	[IDCT_DMG] [int] IDENTITY(1,1) NOT NULL,
	[MaDMG] [int] NULL,
	[MaCV] [int] NULL,
 CONSTRAINT [PK_CT_DMG] PRIMARY KEY CLUSTERED 
(
	[IDCT_DMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DMG]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMG](
	[MaDMG] [int] IDENTITY(1,1) NOT NULL,
	[MaGV] [int] NULL,
	[IDNamHoc] [int] NULL,
	[TongHeSo] [int] NULL,
	[MaHocHam] [int] NULL,
	[TongDMG] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_DMG] PRIMARY KEY CLUSTERED 
(
	[MaDMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DNDoiGio]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNDoiGio](
	[MaDN] [int] IDENTITY(1,1) NOT NULL,
	[MaLichGD] [int] NULL,
	[MaLichGD2] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_DNDoiGio] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DNDoiGV]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNDoiGV](
	[MaDN] [int] IDENTITY(1,1) NOT NULL,
	[MaPCGD] [int] NULL,
	[NgayTao] [datetime] NULL,
	[MaGV] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
 CONSTRAINT [PK_DNDoiGV] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GV]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GV](
	[MaGV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[Avatar] [nvarchar](500) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[QuyenHan] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[MaBoMon] [int] NULL,
 CONSTRAINT [PK_GV_1] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocHam]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocHam](
	[MaHocHam] [int] IDENTITY(1,1) NOT NULL,
	[TenHocHam] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[HeSo] [float] NULL,
	[DMG] [int] NULL,
 CONSTRAINT [PK_HocHam] PRIMARY KEY CLUSTERED 
(
	[MaHocHam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichGD]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichGD](
	[MaLichGD] [int] IDENTITY(1,1) NOT NULL,
	[MaPCGD] [int] NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[Thu] [int] NULL,
	[Tiet] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_LichGD] PRIMARY KEY CLUSTERED 
(
	[MaLichGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHP]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHP](
	[MaHP] [int] IDENTITY(1,1) NOT NULL,
	[IDNamHoc] [int] NULL,
	[SiSo] [int] NULL,
	[LHDT] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](50) NULL,
	[Kip] [nvarchar](50) NULL,
	[SoTietTKB] [int] NULL,
	[TenLop] [nvarchar](50) NULL,
	[TGTHIKT] [date] NULL,
	[HinhThucThi] [nvarchar](50) NULL,
	[MaMH] [int] NULL,
	[Active] [bit] NULL,
	[HeSoKip] [float] NULL,
	[HeSoLHDT] [float] NULL,
	[HeSoQS] [float] NULL,
	[HeSoDD] [float] NULL,
	[TongHeSo] [float] NULL,
	[SoTietQuyChuan] [int] NULL,
	[MaHocPhan] [nvarchar](50) NULL,
 CONSTRAINT [PK_LopHP] PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](50) NULL,
	[MaBoMon] [int] NULL,
	[Active] [bit] NULL,
	[M] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[IDNamHoc] [int] IDENTITY(1,1) NOT NULL,
	[KyHoc] [nvarchar](50) NULL,
	[NamHoc] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[BatDau] [date] NULL,
	[KetThuc] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_NamHoc] PRIMARY KEY CLUSTERED 
(
	[IDNamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NCKH]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCKH](
	[MaNCKH] [int] IDENTITY(1,1) NOT NULL,
	[MaGV] [int] NULL,
	[HangMuc] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TaiLieu] [nvarchar](max) NULL,
	[ThoiGian] [nvarchar](50) NULL,
	[SoGioNC] [int] NULL,
 CONSTRAINT [PK_NCKH] PRIMARY KEY CLUSTERED 
(
	[MaNCKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PCGD]    Script Date: 2018-05-20 15:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCGD](
	[MaPCGD] [int] IDENTITY(1,1) NOT NULL,
	[MaGV] [int] NULL,
	[MaHP] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[MaGV2] [int] NULL,
	[MaGV3] [int] NULL,
 CONSTRAINT [PK_PCGD] PRIMARY KEY CLUSTERED 
(
	[MaPCGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BoMon] ON 

INSERT [dbo].[BoMon] ([MaBoMon], [TenBoMon], [Active]) VALUES (7, N'Công nghệ thông tin', NULL)
SET IDENTITY_INSERT [dbo].[BoMon] OFF
SET IDENTITY_INSERT [dbo].[GV] ON 

INSERT [dbo].[GV] ([MaGV], [HoTen], [GioiTinh], [Avatar], [DiaChi], [SDT], [TenDangNhap], [MatKhau], [QuyenHan], [Active], [MaBoMon]) VALUES (2013, N'admin', NULL, NULL, NULL, NULL, N'admin', N'admin', N'Admin', 1, 7)
SET IDENTITY_INSERT [dbo].[GV] OFF
ALTER TABLE [dbo].[CT_DMG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DMG_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[CT_DMG] CHECK CONSTRAINT [FK_CT_DMG_ChucVu]
GO
ALTER TABLE [dbo].[CT_DMG]  WITH CHECK ADD  CONSTRAINT [FK_CT_DMG_DMG] FOREIGN KEY([MaDMG])
REFERENCES [dbo].[DMG] ([MaDMG])
GO
ALTER TABLE [dbo].[CT_DMG] CHECK CONSTRAINT [FK_CT_DMG_DMG]
GO
ALTER TABLE [dbo].[DMG]  WITH CHECK ADD  CONSTRAINT [FK_DMG_GV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GV] ([MaGV])
GO
ALTER TABLE [dbo].[DMG] CHECK CONSTRAINT [FK_DMG_GV]
GO
ALTER TABLE [dbo].[DMG]  WITH CHECK ADD  CONSTRAINT [FK_DMG_HocHam] FOREIGN KEY([MaHocHam])
REFERENCES [dbo].[HocHam] ([MaHocHam])
GO
ALTER TABLE [dbo].[DMG] CHECK CONSTRAINT [FK_DMG_HocHam]
GO
ALTER TABLE [dbo].[DMG]  WITH CHECK ADD  CONSTRAINT [FK_DMG_NamHoc] FOREIGN KEY([IDNamHoc])
REFERENCES [dbo].[NamHoc] ([IDNamHoc])
GO
ALTER TABLE [dbo].[DMG] CHECK CONSTRAINT [FK_DMG_NamHoc]
GO
ALTER TABLE [dbo].[DNDoiGio]  WITH CHECK ADD  CONSTRAINT [FK_DNDoiGio_LichGD1] FOREIGN KEY([MaLichGD])
REFERENCES [dbo].[LichGD] ([MaLichGD])
GO
ALTER TABLE [dbo].[DNDoiGio] CHECK CONSTRAINT [FK_DNDoiGio_LichGD1]
GO
ALTER TABLE [dbo].[DNDoiGV]  WITH CHECK ADD  CONSTRAINT [FK_DNDoiGV_GV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GV] ([MaGV])
GO
ALTER TABLE [dbo].[DNDoiGV] CHECK CONSTRAINT [FK_DNDoiGV_GV]
GO
ALTER TABLE [dbo].[DNDoiGV]  WITH CHECK ADD  CONSTRAINT [FK_DNDoiGV_PCGD] FOREIGN KEY([MaPCGD])
REFERENCES [dbo].[PCGD] ([MaPCGD])
GO
ALTER TABLE [dbo].[DNDoiGV] CHECK CONSTRAINT [FK_DNDoiGV_PCGD]
GO
ALTER TABLE [dbo].[GV]  WITH CHECK ADD  CONSTRAINT [FK_GV_BoMon] FOREIGN KEY([MaBoMon])
REFERENCES [dbo].[BoMon] ([MaBoMon])
GO
ALTER TABLE [dbo].[GV] CHECK CONSTRAINT [FK_GV_BoMon]
GO
ALTER TABLE [dbo].[LichGD]  WITH CHECK ADD  CONSTRAINT [FK_LichGD_PCGD] FOREIGN KEY([MaPCGD])
REFERENCES [dbo].[PCGD] ([MaPCGD])
GO
ALTER TABLE [dbo].[LichGD] CHECK CONSTRAINT [FK_LichGD_PCGD]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [FK_LopHP_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [FK_LopHP_MonHoc]
GO
ALTER TABLE [dbo].[LopHP]  WITH CHECK ADD  CONSTRAINT [FK_LopHP_NamHoc] FOREIGN KEY([IDNamHoc])
REFERENCES [dbo].[NamHoc] ([IDNamHoc])
GO
ALTER TABLE [dbo].[LopHP] CHECK CONSTRAINT [FK_LopHP_NamHoc]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_BoMon] FOREIGN KEY([MaBoMon])
REFERENCES [dbo].[BoMon] ([MaBoMon])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_BoMon]
GO
ALTER TABLE [dbo].[NCKH]  WITH CHECK ADD  CONSTRAINT [FK_NCKH_GV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GV] ([MaGV])
GO
ALTER TABLE [dbo].[NCKH] CHECK CONSTRAINT [FK_NCKH_GV]
GO
ALTER TABLE [dbo].[PCGD]  WITH CHECK ADD  CONSTRAINT [FK_PCGD_GV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GV] ([MaGV])
GO
ALTER TABLE [dbo].[PCGD] CHECK CONSTRAINT [FK_PCGD_GV]
GO
ALTER TABLE [dbo].[PCGD]  WITH CHECK ADD  CONSTRAINT [FK_PCGD_LopHP] FOREIGN KEY([MaHP])
REFERENCES [dbo].[LopHP] ([MaHP])
GO
ALTER TABLE [dbo].[PCGD] CHECK CONSTRAINT [FK_PCGD_LopHP]
GO
USE [master]
GO
