
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BẠN KHÔNG CÓ QUYỀN TRUY CẬP VÀO MỤC NÀY</title>
    <link href="~/Content/theme/assets/admin/pages/css/error.css" rel="stylesheet" />
    <link href="~/Content/theme/assets/global/css/components.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
</head>
<body>
</body>
</html>
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
            403
        </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p>
                BẠN KHÔNG CÓ QUYỀN TRUY CẬP VÀO MỤC NÀY <br />
                Bạn có thể đăng nhập <a href="@Url.Action("Index","Login")">tại đây </a>
            </p>
        </div>
    </div>
</div>
