@{
    ViewBag.Title = "Home Page";
}

<h2>Hệ thống đang phát triển, bạn có thể quản trị hệ thống <a href="@Url.Action("Index","Home",new RouteValueDictionary(new { Area= "Admincp"}))">tại đây</a></h2>